*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul, li{
    list-style: none;
}

.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    
}
button{
    width: 100px;
    height: 100px;
    background-color: red;
    display: inline-block;
}
.aling-center{
align-items: center;
    
}
/*--stars header part here*/

header{
    background-color: #0f2f44;
    color: #fefefe;
    padding: 19px 0;
}
header .header-left{
    font-size: 16px;
    width: 50%;
}
header .header-right{
width: 50%;
font-size: 16px;
text-align: right;
}
/*--stars header part end*/


/*--stars navbar part here*/

nav .logo{
    width: 40%;
   padding-top: 28px;
}
nav .menu{
    width: 60%;
}
nav .menu ul li{
display: inline-block;
position: relative;

  
}
nav .menu ul li a{
    padding: 40px 20px;
    display: block;
    color: #222222;
    font-size: 16px;
    font-weight: 500px;
    transition: 0.3s;
}
nav ul li:hover a{
    background-color: #fff9e6;
    color: #ffc712;
}
nav  .menu ul{
    text-align: right;
} 


/*--stars navbar part end*/ 

/*--stars banner part here*/ 

#banner{

    background-image: url(../img/image-1.jpg);
    
    background-position: center;
    height: 607px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: block;
}

 #banner .cat-1{
    position: absolute;
    top: 50%;
    width: 35%;
    transform: translateY(-50%);
}
#banner .cat-1 h2{
    font-size: 50px;
    color: #0f2f44;
    font-weight: 300;
}
#banner .cat-1 h1{
    font-size: 80px;
    color: #0f2f44;
    line-height: 60px; 
}
#banner .cat-1 h3{
    color: #8484bf;
    font-size: 32px;
    letter-spacing: 13px;
    padding-top: 10px;
   
}
#banner .cat-1 p{
    font-size: 14px;
    color: #444444;
    line-height: 23px;
    padding: 20px 0;
    width: 380px;  
}
#banner .cat-1 a{
    background-color: #8484bf;
    padding: 15px;
    font-size: 20px;
    color: #fff;
    display: inline-block;
}
#banner .cat-1 .play-video {
    color: #8484bf;
    background-color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center !important;
    border-radius: 50%;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/*--stars banner part end*/ 

/*--stars banner part 3 here*/
#about{
    padding: 90px 0;

}
.tex-about{
    width: 50%;
}
.img-about{
    width: 50%;
}
.img-about img{
    width: 100%;
}
.tex-about h3{
    
    color: #0f2f44;
    font-size: 14px;
}
.tex-about h2{
    
    color: #0f2f44;
    font-size: 32px;
}
.tex-about p{
    font-size: 16px;
    color: #0f2f44;
    line-height: 20px;
    width: 500px;

}
#about .tex-about ul, li{
    font-size: 16px;
     margin-left: 10px;
     line-height: 30px;
     color: #0f2f44;
}
#about .tex-about a{
    color: #0f2f44;
    font-size: 20px;
    background-color: #ffc712;
    padding: 15px 15px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 20px;
}
#about .tex-about .about-a-tag{
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/*start part 3 here*/
#skill{
    padding: 75px 0;
}
#skill .skill_img{
    width:50%;
}
#skill .skill_img img{
    width:100%;
}


#skill .skill_info{
    width:50%;
    text-align:right;
}

#skill .skill_box_bar{
    width: 85%;
}
#skill .skill_box_bar .skill_box_bar_track{
    width: 100%;
    height: 10px;
    background: red;
    border-radius: 10px;
}
#skill .skill_box_bar .skill_box_bar_track .skill_bar{
    width: 80%;
    height: 100%;
    background: black;
    margin-left: auto;
    border-radius: 0 10px 10px 0;
    text-align: left;
}
#skill .skill_box_bar .skill_box_bar_track .skill_bar span{
    transform: translateY(-20px);
    display: inline-block;
}
#skill .skill_box_img{
    width: 15%;
}
/*start part 3 end*/

/*start part 4 here*/

#Our-Services{
    background-color: #f5f5f5;
    padding: 62px 0;
   
    
    
}
#our-Services,.Our-Services-hedding h2{ 
    color: #0f2f44;
    font-size: 32px;
    text-align: center
    
}
.Our-Services-1,.Our-Services-2,.Our-Services-3 {
width: calc(33.33% - 30px) ;
}
.Our-Services-hedding h3{
    color: #0f2f44;
    font-size: 14px;
    text-align: center;
}
#our-services,.Our-Services-1{
    background-color: #eeeeee;
    border-radius: 10px;

}
#our-services,.Our-Services-1,.tex{
    width:70%;
}
#our-services, .Our-Services-1,.incon{
    width: 30%;
    background-color: #e9e9e9;
 
}
/*start part 3 end*/


/*start part 3 end*/

#Our-Testimonial{
    background-color: #f5f5f5;
    padding: 62px 0;
    margin-top: 30px;
}
.Our-Testimonial-cart-1{
    width: 20%;
}
.Our-Testimonial-cart-tex{
    width: 70%;
}


#Services{
    background-color: #f5f5f5;
    padding: 62px 0;
}

.ux_design{
    width: 31%;
    margin: 0 13px;
    background-color: #e9e9e9;
    margin-top: 50px;
    border-radius: 10px !important;
    position: relative;
    
}

.ux_images{
   width: 25%;
   text-align: center;
   
}

.ux_contant{
    width: 75%;
    background-color: #eee;
}

.ux_contant h4{
    color: #222;
    font-size: 20px;
    padding-top: 25px;
    font-weight: bold;
    padding-left: 20px ;
}

.ux_contant p{
    font-size: 16px;
    color: #444;
    line-height: 24px;
    font-weight: 300;
    padding: 20px 0 30px 20px;
}

.ux_design .overly{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0f2f44;
    text-align: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transform: scale(0);
    transition: 0.5s;
}
#Services .ux_design:hover .overly{
    transform: scale(1);
}
.ux_design .overly:hover{
    opacity: 1;
    transform: scale(.5);
}
.ux_design .overly img{
    padding: 30px 0 20px 0;
}

.ux_design .overly h4{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}

.ux_design .overly a{
    position: absolute;
    left: 50%;
  
    bottom: -15px;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    background-color: #ffc712;
    
transition-delay: 0.5s;
}
#Services .ux_design:hover .overly a{
    bottom: -20px;
}
/*--services star end--*/


/*--portfolio star here--*/

#portfolio{
    padding: 60px 0;
}
#portfolio .portfolio-cart{
    width: calc(33.33% - 60px) ;
    margin: 0 30px;
    position: relative;
}
#portfolio .portfolio-cart img{
    width: 100%;
    display: block;
    position: relative;
}
#portfolio .portfolio-cart .overly{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color:#fff;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    transform: scaleY(0);
    transition: 0.5s;
    transform-origin: bottom;
}
#portfolio .portfolio-cart:hover .overly{
transform: scaleY(1);
}
#portfolio .portfolio-cart .overly p{
    font-size: 20px;
    font-weight: 300px;
    color: #0f2f44;
}
#portfolio .portfolio-cart .overly a{
    background-color: #ffc712;
    color: #222;
    width:30px;
    height:30px;
    border-radius: 10px;
    text-align: center;
    display:inline-block;
    position: absolute;
    line-height: 40px;
    left: 0;
}
  .portfolio-tag-a {
    color: #0f2f44;
    padding: 20px 20px;
    display:inline-block;
    background-color: #ffc712;
    border-radius: 10px;
    text-align:center;
    margin-top: 50px;
    margin-left: 500px;
    box-shadow: rgba(236, 82, 10, 0.24) 0px 3px 8px;
}

/*--portfolio star end--*/

#Our-Testimonial .Our-Testimonial-1{
    width: calc(50% - 30px)  ;
    background-color: #e9e9e9;
    border-radius: 10px;
    margin: 40px 15px;
}
#Our-Testimonial .Our-Testimonial-1 .Our-Testimonial-1-img{
    width: 40%;
    position: relative;
}
#Our-Testimonial .Our-Testimonial-1 .Our-Testimonial-1-tex h2{
    color: #0f2f44;
    font-size: 20px;
    padding: 10px 0;
}
#Our-Testimonial .Our-Testimonial-1 .Our-Testimonial-1-tex h6{
    font-size: 14px;
    color: #0f2f44;
}
#Our-Testimonial .Our-Testimonial-1 .Our-Testimonial-1-tex{
    width: 60%;
    font-size: 14px;
    line-height: 25px;
}
#Our-Testimonial .Our-Testimonial-1 .Our-Testimonial-1-tex p{
width: 300px;
padding-left: 10px;
}
.Our-Testimonial-1{
    width: 20%;
    
}
 .Our-Testimonial-2{
    width: 30%;
    background-color: red;
 } 
 .Our-Testimonial-1-a{
    color: #0f2f44;
    background-color: #ffc712;
    padding: 10px 10px;
    border-radius: 20px;
    position: absolute;
    left: -10px;
    margin-top: 80px;
    
 }

/*--lastest star hetre--*/
 #Latest-Blogs{
    padding: 62px 0;
 }
 #Latest-Blogs .our-latest{
    width: calc(33.33% - 30px);
    background-color: #f5f5f5;
    margin: 30px 15px ;
    border-radius: 10px;
    position: relative;
 }
 #Latest-Blogs .our-latest img{
    width: 100%;
    padding: 20px 20px;
 }
 #Latest-Blogs .our-latest h4{
    font-size: 16;
    padding-left: 13px;
    color: #777777;
 } 
 #Latest-Blogs .our-latest p{
    font-size: 20px;
    color: #222222;
    padding-left: 13px;
width: 300px;
padding-top: 10px;
padding-bottom: 10px;
 }
 #Latest-Blogs .our-latest a{
    display: block;
    font-size: 16px;
    color: #777777;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
 }
 #Latest-Blogs .our-latest .overly{
    position: absolute;
    background-color: #0f2f44;
    top: 0;
    left: 0;
    color: #fff;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transform: scale(0);
    transition: 0.8s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 }


 #Latest-Blogs .our-latest:hover .overly{
    transform: scale(1);
 }



 #Latest-Blogs .our-latest .overly h4 {
    color: #fff;
 }
 #Latest-Blogs .our-latest .overly p{
    color: #fff;
    
 }
 #Latest-Blogs .our-latest .overly a{
    color: #fff;
    
 }
 .our-latest .overly .left_arrows{
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateX(50%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color: red;
 }

 .our-latest .overly .right-arrow{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(50%);
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    background-color:#fff;
    color: #0f2f44;
 }
 /*--lastest star end--*/
 #bizzency-1{
    background-color: #f5f5f5;
    margin: 30px 0;
    padding: 100px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
 }    
 #bizzency-1 .bizzency-cat{
    width: 25%;
 } 

 #bizzency-1 .bizzency-cat-1{
    width: 25%;
 }
 #bizzency-1 .bizzency-cat img{
    padding: 0 0 20px 0;
 }
 #bizzency-1 .bizzency-cat ul li{
    display: inline-block;
   
 }
 #bizzency-1 .bizzency-cat ul li a{
    width: 40px;
    height: 40px;
    border: 1px solid #0f2f44;
    display: block;
    text-align: center;
    border-radius: 20px;
    line-height: 40px;
    transition: 0.3s;
    margin: 10px 0;
 }
 #bizzency-1 .bizzency-cat ul li:hover a{
    color: white;
    background-color: #0f2f44;
 }
 


 #bizzency-1 .bizzency-cat p{
    font-size: 14px;
    color: #777777;
    line-height: 25px;
   
    width: 195px;
 }
 #bizzency-1 .bizzency-cat-1 h3{
    font-size: 20px;
    color: #222222;
    
 }
 #bizzency-1 .bizzency-cat-1 a{
    color: #777777;
    font-size: 14px;
    display: block;
    
    padding-top:10px ;
 }
 #bizzency-1 .bizzency-cat-1 p{
    font-size: 14px;
    color: #777777;
 }
 #bizzency-1 .bizzency-cat-1 i{
    display: inline-block;
 }
 #bizzency-1 .bizzency-cat-2{
    width: 15%;
 } 
 #bizzency-1 .bizzency-cat-2 ul li a{
    font-size: 14px;
    color: #444444;
 }


 #bizzency-1 .bizzency-cat-3{
    width: 35%;
 }        
 #bizzency-1 .bizzency-cat-3 img{
    margin: 10px 0 0 10px;
 }



 #bizzency-1 .bizzency-cat-1 .bizzency-1-incon{
    width: 30%; 
   
 }
 

 #bizzency-1 .bizzency-cat-1 .bizzency-1-tex{
    width: 70%;
    padding-left: 10px;
    padding-bottom: 10px;
    
 }
 #bizzency-1 .buttom-arrow{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    background-color: #ffc712;
    text-align: center;
    position: absolute;
   left: 50%;
   transform: translateY(50%);
   top: -50px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

 }


 .search{
position: absolute;
right: 0;
margin-top: 50px;
width: 200px;
height: 45px;
border-radius: 10px;
 }